.text {
  align-content: center;
  font-family: 'Roboto Mono', serif;
  text-align: center;
}

.heading {
  text-decoration: underline;
}

a:link {
  color: black; 
}

a:visited {
  color: black;
}

a:hover {
  color: #B3BDB6;
}

a:active {
  color: black;
}
